# Multimedia pesada (no subir a GitHub)
assets/media/
assets/projects/
assets/certifications/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp
*.log

# Archivos de Mac
._*
